.input-container {
    background-color: gray;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.result-container {
    height: 50px;
    border: 1px solid black;
    text-align: right;
    font-size: 2rem;
    padding: 1rem;
}